{% extends "GaudruereGiteBundle::layouts/gaudruerebaselayout.html.twig" %}

{% block content %}
<div id="contact-reponse">
<h1>Votre message a été correctement envoyé.</h1>
<h2>Je vous répondrai dès que possible,</h2>
<h2>Bonne journée.</h2>
<h3>Catherine Tesson</h3>
</div>
{% endblock %}