<div id="reservation-reponse">
	<h1>Votre demande de réservation a été correctement prise en compte</h1>
	<h2>La validation de votre réservation vous sera notifiée par téléphone dès que possible</h2>
	<h3>Bonne journée</h3>
	<h3>Catherine Tesson</h3>
</div>