<div id="reservation-reponse">
	<h1>Une erreur inopinée s'est produite durant la prise en compte de votre demande de réservation.</h1>
	<h2>Veuillez bien vouloir nous excuser pour la gêne occassionnée et renouveler l'opération ultérieurement,</h2>
	<h3>Bonne journée.</h3>
	<h3>Catherine Tesson</h3>
</div>