{% extends "GaudruereGiteBundle::layouts/gaudruerebaselayout.html.twig" %}

{% block content %}   
<div class="doublepage">
<div class="acces-navigation">
  {{ parametres.descriptionAcces|raw }}
</div>
<div class="acces-content">
    <h2>Accès</h2>
    <ul>
    <li>Par le train : De Paris-Le Mans, gare située à 40 km au Nord du gîte.</li>
    <br>
    <li>Par l'autoroute A28, en venant de Paris : Prendre la Sortie 25 au rond point prendre à gauche la D338 sur 6,8 km direction Tours. Au rond point de Saint-Hubert prendre à gauche la D13 sur 4,8km. Puis tourner à droite sur une petite route, le gîte est au bout de cette route.</li>
    <br>
    <li>Par l'autoroute A28 en venant de Tours : Prendre la sortie 26 et continuer sur D305 et continuer sur 846 m. Au rond point, prendre à gauche la D305 et continuer sur 2,5 km. Au rond point prendre à gauche et continuer sur 1,3km.(Direction Le Mans). Au rond point prendre à gauche la D338 et continuer jusqu'au rond point de Saint-Hubert. Au rond point de Saint-Hubert prendre à droite la D13 sur 4,8km. Puis tourner à droite sur une petite route, le gîte est au bout de cette route.</li>
    <br>
    <li>Coordonnées GPS : N 47.78003°  E 0.41807°</li>
    </ul>
    <script type="text/javascript">
     
      function initialize() {
        var myOptions = {
          scaleControl: true,
          center: new google.maps.LatLng(47.780156, 0.418456),
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.HYBRID
        };
    
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);
            
        var marker = new google.maps.Marker({
          map: map,
          position: map.getCenter()
        });
        var infowindow = new google.maps.InfoWindow();
        infowindow.setContent('<b>Gîte de La Gaudruère</b><br />72500 Jupilles');
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
        });
      
      }
      window.onload = initialize;
    </script>
    <div id="map_canvas"></div>
</div>
</div>
    
{% endblock %}