* {
	margin: 0;
	padding: 0;
}

body {
	background: url("bg_body.gif") repeat scroll 0 0 #DDD;
	color: #6c6c7f;
	font: 13px "Verdana", Helvetica, Arial, sans-serif;
}

/*
img {
	box-shadow: 5px 5px 5px #aaa;
}
*/

#bandeau {
	background-color: #3a5677;
	height: 150px;
	width: 100%;
}

#page {
	width: 980px;
	margin: 0 auto;
}

/* Entete */
#header {
	z-index: 800;
	position: absolute;
	top: 0;
	height: 150px;
	width: 980px;
}
#header.accueil {
	background: url("bg_menu.png") repeat scroll 0 0 transparent;
}
#header.site {
	background: url("bg_entete.jpg") repeat scroll 0 0 transparent;
}
#header.acces {
	background: url("bg_acces.jpg") repeat scroll 0 0 transparent;
}
#header.reservation {
	background: url("bg_reservation.jpg") repeat scroll 0 0 transparent;
}
#header.contact {
	background: url("bg_contact.jpg") repeat scroll 0 0 transparent;
}

#header a.logo {
background: url("logo.png") repeat scroll 0 0 transparent;
height: 90px;
width: 390px;
display: block;    
z-index: 1000;
}
/* Content */
#content {  
background-color: #FAFAFA;    
width: 980px;
min-height: 450px;
}

.doublepage {
background: url("bg_content.png") repeat-y scroll 0 0 transparent;
min-height: 450px;
}

.doublepagereservation {
background: url("bg_content_reservation.png") repeat-y scroll 0 0 transparent;
min-height: 450px;
}

/* Bas-de-page */
#footer {
aabackground: url("bg_menu.png") repeat scroll 0 0 transparent;
background-color:#3a5677;
height: 80px;
width: 978px;
border: 1px solid #808080;
}
#footer #remerciementfooter {
color: #D0D0D0;
font-size: 1em;
margin: 0;
text-align: center;
text-decoration: none;
width:100%;
float:right;
display:inline;
text-align: right;
margin: 0 21px 0 0;
}
#footer #titrefooter {
color: #EAEAEA;
font-size: 2.2em;
margin: 9px 16px 0 0;;
text-align: right;
text-decoration: none;
width:75%;
float:right;
display:inline;
}
#footer #contactfooter {
display: block;
font-weight: bold;
padding: 21px 20px;
background: none repeat scroll 0 0 transparent;
width:15%;
float:left;
display:inline;
}
#footer #contactfooter a {
font-size: 1.1em;
color: #EAEAEA;
border-bottom:3px solid #EAEAEA;
text-decoration: none;
}
