* {
	margin: 0;
	padding: 0;
}

body {
	background: url("../../bundles/gaudrueregite/css/bg_body.gif") repeat scroll 0 0 #E0DBBA;
	color: #777777;
	font: 14px "Verdana", Helvetica, Arial, sans-serif;
}

/*
img {
	box-shadow: 5px 5px 5px #aaa;
}
*/

#bandeau {
	background: url("../../bundles/gaudrueregite/css/bg_header.gif") repeat scroll 0 150px transparent;
	height: 150px;
	width: 100%;
}

#page {
	width: 980px;
	margin: 0 auto;
}

/* Entete */
#header {
	z-index: 800;
	position: absolute;
	top: 0;
	height: 150px;
	width: 980px;
	background: url("../../bundles/gaudrueregite/css/bg_menu.png") repeat scroll 0 0 transparent;
}

#header a.logo {
background: url("../../bundles/gaudrueregite/css/logo.png") repeat scroll 0 0 transparent;
height: 90px;
width: 390px;
display: block;    
z-index: 1000;
}
/* Content */
#content {  
background-color: #E5E1C7;    
width: 980px;
min-height: 450px;
}

.doublepage {
background: url("../../bundles/gaudrueregite/css/bg_content.png") repeat-y scroll 0 0 transparent;
min-height: 450px;
}


/* Bas-de-page */
#footer {
	background: url("../../bundles/gaudrueregite/css/bg_menu.png") repeat scroll 0 0 transparent;
	height: 60px;
	width: 978px;
	border: 1px solid #808080;
}

#footer #titrefooter {
color: #E18B14;
font-size: 2.2em;
margin: 13px 20px 0 0;
text-align: right;
text-decoration: none;
width:75%;
float:right;
display:inline;
}
#footer #contactfooter {
display: block;
font-weight: bold;
padding: 30px 20px;
background: none repeat scroll 0 0 transparent;
width:15%;
float:left;
display:inline;
}
#footer #contactfooter a {
font-size: 1.1em;
color: #FFFFFF;
border-bottom:3px solid #FFFFFF; 
text-decoration: none;
}
